/Hello.tokens
/HelloLexer.java
/HelloLexer.tokens
/HelloParser.java
/HelloBaseListener.java
/HelloListener.java
/Instruction.tokens
/InstructionParser.java
/InstructionLexer.java
/InstructionLexer.tokens
/InstructionBaseListener.java
/InstructionBaseVisitor.java
/InstructionListener.java
/InstructionVisitor.java
